__pycache__
.vscode
.DS_Store
*.txt
*.sh
*.idx
*.bin
*.npy
megatron/fused_kernels/build/
*.so
*.pickle
*.tar.gz
*.nsys-rep
*.csv
/gen_*.py
/get_*.py
/test_*.py
build
.coverage_*
*.egg-info
*.pkl
plopt_debug*/*
_memory_viz.py
/*.svg
/*.html
/memory_trace*/*
/memory_debug*/*
/trace_debug*/*
/_*.ipynb